<h1>Listing subtopics</h1>

<table>
  <tr>
    <th>Topic</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subtopics.each do |subtopic| %>
  <tr>
    <td><%= subtopic.topic %></td>
    <td><%= subtopic.name %></td>
    <td><%= link_to 'Show', subtopic %></td>
    <td><%= link_to 'Edit', edit_subtopic_path(subtopic) %></td>
    <td><%= link_to 'Destroy', subtopic, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subtopic', new_subtopic_path %>
